<header>
    <nav>
        <ul class = "listeHeader">
            <li><a href="{{ path('app_bienvenue') }}">Bienvenue </a></li>
            <li><a href="{{ path('app_bienvenues') }}">Bienvenue à tous</a></li>
            <li><a href="{{ path('app_etudiant_liste') }}">Liste étudiants</a></li>
            <li><a href="{{ path('app_promotion_liste') }}">Liste promotions</a></li>

        </ul>
    </nav>
</header>