{% extends 'base.html.twig' %}

{% block title %}Hello PromotionController!{% endblock %}

{% block body %}
    <h1>Liste des promotions</h1>

    <ul>
        {% for promotion in promotions %}
            <li><a href=" {{ path( 'app_promotion_info', {"id" : promotion.id } ) }}">  {{promotion.nom}} </a></li>
        {% endfor %}
    </ul>


{% endblock %}
