{% extends 'base.html.twig' %}

{% block title %}Hello Promotion!{% endblock %}

{% block body %}

    <h1>Info Promotion</h1>

    <ul>
        <li>Nom : {{ promotion.nom }}</li>
        <li>Année : {{ promotion.annee }}</li>
        {#<li>Nombre étudiants : {{ promotion.etudiant }}</li>#}
    </ul>


{% endblock %}
